@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 70%;
    border: 2px solid red;
    margin: 0 auto;
    padding: 1em;
    height: 100vh;
}